In [1]:
import pandas as pd

In [3]:
json = open('dados extra/aluguel.json')
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [4]:
df_json = pd.read_json('dados extra/aluguel.json')
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [5]:
txt = open('dados extra/aluguel.txt')
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim BotÃ¢nico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	HigienÃ³polis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de CondomÃ­nio	Barra da Tijuca	5	4	5	750	22000
Casa de CondomÃ­nio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [6]:
df_txt = pd.read_table('dados extra/aluguel.txt')
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [7]:
df_xlsx = pd.read_excel('dados extra/aluguel.xlsx')
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [8]:
df_html = pd.read_html('dados extra/dados_html_1.html')
df_html

[  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
 0      00 A 18               R$218,99           R$192,60    R$334,48
 1      19 A 23               R$263,63           R$207,67    R$380,06
 2      24 A 28               R$322,44           R$224,26    R$464,39
 3      29 A 33               R$402,05           R$258,63    R$566,68
 4      34 A 38               R$455,17           R$306,37    R$664,61
 5      39 A 43               R$489,29           R$417,93    R$742,72
 6      44 A 48               R$582,65           R$495,24    R$869,47
 7      49 A 53               R$718,86           R$562,64  R$1.046,29
 8      54 A 58               R$908,54           R$721,00  R$1.355,74
 9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53]

In [14]:
df_html = pd.read_html('https://www.ssp.sp.gov.br/estatistica/pesquisa.aspx')
df_html

[                                        Natureza      Jan      Fev      Mar  \
 0          OCORRÊNCIAS DE PORTE DE ENTORPECENTES  911.000    1.238    1.202
 1        OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES    2.586    2.634    2.914
 2   OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1)  370.000  407.000  422.000
 3            OCORRÊNCIAS DE PORTE ILEGAL DE ARMA  313.000  315.000  393.000
 4                Nº DE ARMAS DE FOGO APREENDIDAS  762.000  875.000  971.000
 5                      Nº DE FLAGRANTES LAVRADOS    6.875    7.322    8.205
 6      Nº DE INFRATORES APREENDIDOS EM FLAGRANTE  641.000  691.000  779.000
 7       Nº DE INFRATORES APREENDIDOS POR MANDADO  109.000  138.000  181.000
 8              Nº DE PESSOAS PRESAS EM FLAGRANTE    8.097    8.564    9.629
 9               Nº DE PESSOAS PRESAS POR MANDADO    4.110    4.758    5.504
 10                       Nº DE PRISÕES EFETUADAS   10.661   11.635   13.405
 11                    Nº DE VEÍCULOS RECUPERADOS    3.454    3.138    3.720
 12      TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS   28.244   29.677   32.706

         Abr      Mai      Jun      Jul      Ago      Set      Out  Nov  Dez  \
 0   978.000    1.109    1.176    1.182    1.203    1.107    1.157  ...  ...
 1     2.751    2.893    2.953    2.999    2.987    2.664    2.608  ...  ...
 2   325.000  488.000  574.000  584.000  568.000  479.000  516.000  ...  ...
 3   327.000  332.000  328.000  386.000  383.000  315.000  343.000  ...  ...
 4   812.000  805.000  834.000  819.000  779.000  892.000  860.000  ...  ...
 5     7.361    7.382    7.268    7.687    7.861    7.337    7.639  ...  ...
 6   714.000  786.000  813.000  841.000  964.000  709.000  761.000  ...  ...
 7   137.000  181.000  169.000  127.000  146.000  142.000  158.000  ...  ...
 8     8.593    8.560    8.627    8.970    9.322    8.759    8.842  ...  ...
 9     4.982    5.592    5.630    5.706    5.950    4.971    4.780  ...  ...
 10   12.030   12.816   12.582   13.145   13.704   11.986   12.213  ...  ...
 11    3.400    3.485    3.296    3.337    3.718    3.507    3.481  ...  ...
 12   28.804   31.341   29.776   29.139   32.732   29.957   30.583  ...  ...

       Total
 0    11.263
 1    27.989
 2     4.733
 3     3.435
 4     8.409
 5    74.937
 6     7.699
 7     1.488
 8    87.963
 9    51.983
 10  124.177
 11   34.536
 12  302.959  ,
                                         Natureza      Jan      Fev      Mar  \
 0          OCORRÊNCIAS DE PORTE DE ENTORPECENTES    1.215    1.101    1.088
 1        OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES    3.323    3.489    3.625
 2   OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1)  412.000  392.000  410.000
 3            OCORRÊNCIAS DE PORTE ILEGAL DE ARMA  311.000  353.000  391.000
 4                Nº DE ARMAS DE FOGO APREENDIDAS  915.000  950.000    1.048
 5                      Nº DE FLAGRANTES LAVRADOS    7.686    7.655    8.081
 6      Nº DE INFRATORES APREENDIDOS EM FLAGRANTE  777.000  790.000  852.000
 7       Nº DE INFRATORES APREENDIDOS POR MANDADO  118.000  198.000  182.000
 8              Nº DE PESSOAS PRESAS EM FLAGRANTE    9.050    9.108    9.550
 9               Nº DE PESSOAS PRESAS POR MANDADO    4.356    4.737    4.593
 10                       Nº DE PRISÕES EFETUADAS   11.655   11.878   12.171
 11                    Nº DE VEÍCULOS RECUPERADOS    3.347    3.127    3.061
 12      TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS   27.835   29.952   31.337

         Abr      Mai      Jun      Jul      Ago      Set      Out      Nov  \
 0   983.000    1.251    1.488    1.075    1.270    1.226    1.163    1.085
 1     3.708    3.673    3.685    3.092    3.297    2.927    2.838    2.671
 2   450.000  501.000  478.000  378.000  414.000  406.000  398.000  370.000
 3   330.000  357.000  359.000  313.000  354.000  386.000  332.000  309.000
 4   933.000    1.155  891.000  882.000  929.000  885.000    1.407  816.000
 5     7.650    7.798    7.807    7.399    8.062    7.951    7.733    7.323
 6   881.000  786.000  851.000  731.000  826.000  722.000  656.000  729.000
 7   177.000  201.000  183.000  155.000  194.000  171.000  174.000  124.000
 8     9.074    9.245    9.232    8.701    9.420    9.271    9.072    8.475
 9     4.238    5.107    4.930    4.873    5.330    4.812    4.310    4.321
 10   11.401   12.418   12.433   12.012   12.959   12.298   11.689   11.197
 11    2.945    3.165    3.111    2.829    3.246    3.178    3.122    3.290
 12   29.457   29.363   30.028   28.718   31.574   30.424   30.141   28.867

         Dez    Total
 0     1.038   13.983
 1     2.291   38.619
 2   336.000    4.945
 3   350.000    4.145
 4   976.000   11.787
 5     6.967   92.112
 6   632.000    9.233
 7   129.000    2.006
 8     8.165  108.363
 9     4.198   55.805
 10   10.753  142.864
 11    3.588   38.009
 12   28.927  356.623  ,
                                         Natureza      Jan      Fev      Mar  \
 0          OCORRÊNCIAS DE PORTE DE ENTORPECENTES    1.450    1.331  956.000
 1        OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES    3.306    3.204    2.957
 2   OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1)  347.000  322.000  314.000
 3            OCORRÊNCIAS DE PORTE ILEGAL DE ARMA  371.000  349.000  363.000
 4                Nº DE ARMAS DE FOGO APREENDIDAS    1.012    1.004  986.000
 5                      Nº DE FLAGRANTES LAVRADOS    7.708    7.865    7.577
 6      Nº DE INFRATORES APREENDIDOS EM FLAGRANTE    1.019  981.000  932.000
 7       Nº DE INFRATORES APREENDIDOS POR MANDADO  232.000  263.000  176.000
 8              Nº DE PESSOAS PRESAS EM FLAGRANTE    8.965    9.144    9.032
 9               Nº DE PESSOAS PRESAS POR MANDADO    6.346    6.184    4.886
 10                       Nº DE PRISÕES EFETUADAS   13.442   13.304   12.036
 11                    Nº DE VEÍCULOS RECUPERADOS    4.770    4.247    3.858
 12      TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS   29.817   27.065   26.832

         Abr      Mai      Jun      Jul      Ago      Set      Out      Nov  \
 0   746.000  912.000    1.093    1.245    1.376    1.330    1.071    1.002
 1     3.410    3.891    4.002    4.126    3.773    3.411    3.401    3.170
 2   314.000  389.000  421.000  459.000  428.000  453.000  413.000  358.000
 3   307.000  435.000  394.000  376.000  386.000  409.000  399.000  346.000
 4   903.000    1.089  900.000  969.000  925.000  992.000  996.000  913.000
 5     6.984    7.009    7.232    7.596    7.223    7.223    7.621    7.093
 6   858.000  838.000  945.000    1.045    1.069  894.000  924.000  876.000
 7    59.000   89.000  125.000  183.000  163.000  162.000  174.000  168.000
 8     8.545    8.490    8.496    8.962    8.430    8.526    9.000    8.315
 9     3.377    3.388    4.431    4.904    4.269    4.815    4.791    3.491
 10   10.080   10.257   11.059   12.089   11.052   11.540   11.830   10.121
 11    2.763    2.435    2.571    3.037    2.864    3.097    3.058    3.118
 12   24.657   24.389   26.520   29.052   27.016   27.657   28.102   28.075

         Dez    Total
 0     1.164   13.676
 1     2.909   41.560
 2   384.000    4.602
 3   306.000    4.441
 4   864.000   11.553
 5     6.994   88.125
 6   796.000   11.177
 7   117.000    1.911
 8     8.176  104.081
 9     4.130   55.012
 10   10.745  137.555
 11    3.281   39.099
 12   27.177  326.359  ]

In [11]:
df_html = pd.read_html('https://www.ssp.sp.gov.br/estatistica/pesquisa.aspx')

In [12]:
len(df_html)

3

In [15]:
df_html[0]

,Natureza,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,OCORRÊNCIAS DE PORTE DE ENTORPECENTES,911.000,1.238,1.202,978.000,1.109,1.176,1.182,1.203,1.107,1.157,...,...,11.263
1,OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES,2.586,2.634,2.914,2.751,2.893,2.953,2.999,2.987,2.664,2.608,...,...,27.989
2,OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1),370.000,407.000,422.000,325.000,488.000,574.000,584.000,568.000,479.000,516.000,...,...,4.733
3,OCORRÊNCIAS DE PORTE ILEGAL DE ARMA,313.000,315.000,393.000,327.000,332.000,328.000,386.000,383.000,315.000,343.000,...,...,3.435
4,Nº DE ARMAS DE FOGO APREENDIDAS,762.000,875.000,971.000,812.000,805.000,834.000,819.000,779.000,892.000,860.000,...,...,8.409
5,Nº DE FLAGRANTES LAVRADOS,6.875,7.322,8.205,7.361,7.382,7.268,7.687,7.861,7.337,7.639,...,...,74.937
6,Nº DE INFRATORES APREENDIDOS EM FLAGRANTE,641.000,691.000,779.000,714.000,786.000,813.000,841.000,964.000,709.000,761.000,...,...,7.699
7,Nº DE INFRATORES APREENDIDOS POR MANDADO,109.000,138.000,181.000,137.000,181.000,169.000,127.000,146.000,142.000,158.000,...,...,1.488
8,Nº DE PESSOAS PRESAS EM FLAGRANTE,8.097,8.564,9.629,8.593,8.560,8.627,8.970,9.322,8.759,8.842,...,...,87.963
9,Nº DE PESSOAS PRESAS POR MANDADO,4.110,4.758,5.504,4.982,5.592,5.630,5.706,5.950,4.971,4.780,...,...,51.983
10,Nº DE PRISÕES EFETUADAS,10.661,11.635,13.405,12.030,12.816,12.582,13.145,13.704,11.986,12.213,...,...,124.177
11,Nº DE VEÍCULOS RECUPERADOS,3.454,3.138,3.720,3.400,3.485,3.296,3.337,3.718,3.507,3.481,...,...,34.536
12,TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS,28.244,29.677,32.706,28.804,31.341,29.776,29.139,32.732,29.957,30.583,...,...,302.959

In [16]:
df_html[1]

,Natureza,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,OCORRÊNCIAS DE PORTE DE ENTORPECENTES,1.215,1.101,1.088,983.000,1.251,1.488,1.075,1.270,1.226,1.163,1.085,1.038,13.983
1,OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES,3.323,3.489,3.625,3.708,3.673,3.685,3.092,3.297,2.927,2.838,2.671,2.291,38.619
2,OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1),412.000,392.000,410.000,450.000,501.000,478.000,378.000,414.000,406.000,398.000,370.000,336.000,4.945
3,OCORRÊNCIAS DE PORTE ILEGAL DE ARMA,311.000,353.000,391.000,330.000,357.000,359.000,313.000,354.000,386.000,332.000,309.000,350.000,4.145
4,Nº DE ARMAS DE FOGO APREENDIDAS,915.000,950.000,1.048,933.000,1.155,891.000,882.000,929.000,885.000,1.407,816.000,976.000,11.787
5,Nº DE FLAGRANTES LAVRADOS,7.686,7.655,8.081,7.650,7.798,7.807,7.399,8.062,7.951,7.733,7.323,6.967,92.112
6,Nº DE INFRATORES APREENDIDOS EM FLAGRANTE,777.000,790.000,852.000,881.000,786.000,851.000,731.000,826.000,722.000,656.000,729.000,632.000,9.233
7,Nº DE INFRATORES APREENDIDOS POR MANDADO,118.000,198.000,182.000,177.000,201.000,183.000,155.000,194.000,171.000,174.000,124.000,129.000,2.006
8,Nº DE PESSOAS PRESAS EM FLAGRANTE,9.050,9.108,9.550,9.074,9.245,9.232,8.701,9.420,9.271,9.072,8.475,8.165,108.363
9,Nº DE PESSOAS PRESAS POR MANDADO,4.356,4.737,4.593,4.238,5.107,4.930,4.873,5.330,4.812,4.310,4.321,4.198,55.805
10,Nº DE PRISÕES EFETUADAS,11.655,11.878,12.171,11.401,12.418,12.433,12.012,12.959,12.298,11.689,11.197,10.753,142.864
11,Nº DE VEÍCULOS RECUPERADOS,3.347,3.127,3.061,2.945,3.165,3.111,2.829,3.246,3.178,3.122,3.290,3.588,38.009
12,TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS,27.835,29.952,31.337,29.457,29.363,30.028,28.718,31.574,30.424,30.141,28.867,28.927,356.623

In [17]:
df_html[2]

,Natureza,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,OCORRÊNCIAS DE PORTE DE ENTORPECENTES,1.450,1.331,956.000,746.000,912.000,1.093,1.245,1.376,1.330,1.071,1.002,1.164,13.676
1,OCORRÊNCIAS DE TRÁFICO DE ENTORPECENTES,3.306,3.204,2.957,3.410,3.891,4.002,4.126,3.773,3.411,3.401,3.170,2.909,41.560
2,OCORRÊNCIAS DE APREENSÃO DE ENTORPECENTES(1),347.000,322.000,314.000,314.000,389.000,421.000,459.000,428.000,453.000,413.000,358.000,384.000,4.602
3,OCORRÊNCIAS DE PORTE ILEGAL DE ARMA,371.000,349.000,363.000,307.000,435.000,394.000,376.000,386.000,409.000,399.000,346.000,306.000,4.441
4,Nº DE ARMAS DE FOGO APREENDIDAS,1.012,1.004,986.000,903.000,1.089,900.000,969.000,925.000,992.000,996.000,913.000,864.000,11.553
5,Nº DE FLAGRANTES LAVRADOS,7.708,7.865,7.577,6.984,7.009,7.232,7.596,7.223,7.223,7.621,7.093,6.994,88.125
6,Nº DE INFRATORES APREENDIDOS EM FLAGRANTE,1.019,981.000,932.000,858.000,838.000,945.000,1.045,1.069,894.000,924.000,876.000,796.000,11.177
7,Nº DE INFRATORES APREENDIDOS POR MANDADO,232.000,263.000,176.000,59.000,89.000,125.000,183.000,163.000,162.000,174.000,168.000,117.000,1.911
8,Nº DE PESSOAS PRESAS EM FLAGRANTE,8.965,9.144,9.032,8.545,8.490,8.496,8.962,8.430,8.526,9.000,8.315,8.176,104.081
9,Nº DE PESSOAS PRESAS POR MANDADO,6.346,6.184,4.886,3.377,3.388,4.431,4.904,4.269,4.815,4.791,3.491,4.130,55.012
10,Nº DE PRISÕES EFETUADAS,13.442,13.304,12.036,10.080,10.257,11.059,12.089,11.052,11.540,11.830,10.121,10.745,137.555
11,Nº DE VEÍCULOS RECUPERADOS,4.770,4.247,3.858,2.763,2.435,2.571,3.037,2.864,3.097,3.058,3.118,3.281,39.099
12,TOT. DE INQUÉRITOS POLICIAIS INSTAURADOS,29.817,27.065,26.832,24.657,24.389,26.520,29.052,27.016,27.657,28.102,28.075,27.177,326.359